<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WorkFlow.Properties.Settings.iParkingConnectionString"
            connectionString="Data Source=HOME\SQLEXPRESS;Initial Catalog=iParking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WorkFlow.Properties.Settings.iParkingConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=iParking;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="WorkFlow.Properties.Settings.iParkingtestConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=iParkingtest;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="WorkFlow.Properties.Settings.collectinfoConnectionString"
            connectionString="data source=C:\Users\John\Desktop\data\collectinfo.db"
            providerName="System.Data.SQLite.EF6" />
        <add name="WorkFlow.Properties.Settings.DoorNoConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DoorNo;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="WorkFlow.Properties.Settings.GisCollectConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GisCollect;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WorkFlow.Properties.Settings.GisCollectConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GisCollect;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="WorkFlow.Properties.Settings.fupinConnectionString"
            connectionString="Data Source=SAGE-1612101733;Initial Catalog=fupin;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="WorkFlow.Properties.Settings.fupinConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=fupin;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="WorkFlow.Properties.Settings.weixinConnectionString"
            connectionString="Data Source=.;Initial Catalog=weixin;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="WorkFlow.Properties.Settings.weixinConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=weixin;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="WorkFlow.Properties.Settings.ZCDMConnectionString"
            connectionString="Data Source=.;Initial Catalog=ZCDM;Persist Security Info=True;User ID=sa;Password=gxct0771"
            providerName="System.Data.SqlClient" />
        <add name="WorkFlow.Properties.Settings.GisBaseConnectionString"
            connectionString="Data Source=HOME\SQLEXPRESS;Initial Catalog=GisBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WorkFlow.Properties.Settings.GisBaseConnectionString1"
            connectionString="Data Source=.;Initial Catalog=GisBase;Persist Security Info=True;User ID=sa;Password=gxct0771"
            providerName="System.Data.SqlClient" />
        <add name="WorkFlow.Properties.Settings.GisBaseConnectionString2"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=GisBase;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="WorkFlow.Properties.Settings.slcgConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=slcg;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
